* {
    margin: 0px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
  
}



.main {
    display: flex;
    flex-direction: column;
}


.top {
    display: flex;
    justify-content: center;
    
    padding: 10px;
}





